/* Style général */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

/* Conteneur principal */
.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

/* Barre de navigation */
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header div {
    font-weight: bold;
    font-size: 24px;
}

nav {
    margin-left: auto;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav a.active {
    color: #007bff; /* Bleu pour indiquer la section active */
}

nav a:hover {
    color: #007bff;
}

/* Boîte de formulaire et contenu */
.form-box, .content-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
    width: 300px;
}

/* Titre */
.title {
    background-color: #ffa500;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Champs de saisie */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Bouton */
button {
    width: 90%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Partie principale */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Sections cachées par défaut */
.section {
    display: none;
    width: 100%;
    max-width: 800px;
}

/* Centrer les contenus */
.center-content {
    text-align: left;
}

/* Section Profil */
#profileSection .profile-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: center;
}

#profileSection button {
    grid-column: 2;
    justify-self: start; /* Décale le bouton à gauche */
    background-color: #FFA500;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

/* Style du formulaire de transfert */
.transfer-top, .transfer-bottom {
    margin-bottom: 20px;
}

.transfer-form {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /* Permet au formulaire de s'adapter sur plusieurs lignes si nécessaire */
}

.transfer-form input,
.transfer-form select {
    padding: 10px;
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Bouton Payer */
.transfer-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Style du tableau des transactions */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Style pour le formulaire d'ajout de relation */
#addConnectionSection form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#addConnectionSection input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#addConnectionSection button {
    background-color: #FFA500;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#addConnectionSection h5 {
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Messages de succès et d'erreur */
.success {
    text-align: right;
    font-weight: bold;
    color: #5cb85c; /* Couleur verte pour les messages de succès */
    margin-right: 20px; /* Ajustez l'espacement si besoin */
}

.error {
    text-align: right;
    font-weight: bold;
    color: #d9534f; /* Couleur rouge pour les erreurs */
    margin-right: 20px; /* Ajustez l'espacement si besoin */
}

/* Ajustements pour les erreurs de validation */
input:invalid {
    border-color: #ff4d4d;
}

/* Balance */
.balance {
    text-align: center;
    margin: 20px 0;
}

/* Spécifique à la page de connexion et d'inscription */
.login-register-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* transactions "Reçu" et "Émis" */
.transaction-received {
    color: green;
    font-weight: bold;
    font-size: 0.9em; /* Ajustez la taille selon vos besoins */
}

.transaction-sent {
    color: red;
    font-weight: bold;
    font-size: 0.9em; /* Ajustez la taille selon vos besoins */
}

/* Styles spécifiques pour le champ select élargi dans le formulaire de transfert */
.transfer-form select.wide-select {
    max-width: 300px; /* Ajustez cette valeur selon vos besoins */
    width: 100%; /* Assure que le select prend toute la largeur disponible dans son conteneur */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    flex: 2; /* Permet au select de prendre plus de place dans le conteneur flex */
}

/* Ajustez les autres éléments du formulaire pour laisser plus de place au select */
.transfer-form input[type="text"],
.transfer-form input[type="number"],
.transfer-form button {
    flex: 1; /* Limite la largeur des autres éléments */
    max-width: 150px; /* Ajustez cette valeur si nécessaire */
}

/* Styles spécifiques pour le tableau des relations */
.connections-table {
    width: 100%;
    border-collapse: separate; /* Permet l'utilisation de border-radius */
    border-spacing: 0;
    border-radius: 10px; /* Coins arrondis */
    overflow: hidden; /* Pour que les coins arrondis s'appliquent correctement */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère pour un effet de profondeur */
    background-color: #ffffff; /* Fond blanc pour le tableau */
    margin-top: 20px;
}

.connections-table thead {
    background-color: #007bff; /* Bleu */
    color: white;
}

.connections-table th, .connections-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.connections-table th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.connections-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.connections-table tbody tr:hover {
    background-color: #e9ecef;
}

/* Responsivité du tableau */
@media (max-width: 768px) {
    .connections-table, .connections-table thead, .connections-table tbody, .connections-table th, .connections-table td, .connections-table tr {
        display: block;
    }

    .connections-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .connections-table tr {
        margin-bottom: 15px;
    }

    .connections-table td {
        border: none;
        position: relative;
        padding-left: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .connections-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 15px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
    }
}