<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pay My Buddy - Connexion</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="login-register-body">
<div class="container">
    <div class="form-box">
        <h1 class="title">Pay My Buddy</h1>
        <form th:action="@{/login}" method="post">
            <input type="email" name="username" required />
            <input type="password" name="password" required />
            <button type="submit">Se connecter</button>
        </form>
        <!--p>Pas encore inscrit ? <a th:href="@{/register}">S'inscrire</a></p-->
    </div>
</div>
</body>
</html>