<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <style>
        /* Incluez ici vos styles CSS existants */
    </style>
</head>
<body>
<!-- Navigation -->
<header>
    <div>Pay My Buddy</div>
    <nav>
        <a th:href="@{/transfer}">Transférer</a>
        <a th:href="@{/profile}" class="active">Profil</a>
        <a th:href="@{/addConnection}">Ajouter relation</a>
        <a th:href="@{/connections}">Relations</a>
        <a th:href="@{/logout}">Se déconnecter</a>
    </nav>
</header>


<!-- Affichage des messages -->
<div th:if="${error}" class="error">
    <p th:text="${error}"></p>
</div>
<div th:if="${success}" class="success">
    <p th:text="${success}"></p>
</div>

<!-- Contenu principal -->
<main>
    <div id="profileSection" class="center-content">
        <form th:action="@{/profile/update}" method="post">
            <div class="profile-content">
                <p>Username:</p>
                <span th:text="${user.username}">@username</span> <!-- Lecture seule -->

                <p>Mail:</p>
                <span th:text="${user.email}">nom@domain.com</span> <!-- Lecture seule -->

                <p>Mot de passe:</p>
                <input type="password" name="newPassword" placeholder="mot de passe"/>
                <button type="submit">Modifier</button>
            </div>
        </form>
    </div>


</main>
</body>
</html>