<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pay My Buddy - Inscription</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="form-box">
        <h1 class="title">Pay My Buddy</h1>
        <form th:action="@{/register}" th:object="${user}" method="post">
            <input type="text" th:field="*{username}" placeholder="Username" required />
            <input type="email" th:field="*{email}" placeholder="Mail" required />
            <input type="password" th:field="*{password}" placeholder="Mot de passe" required />
            <button type="submit">S'inscrire</button>
        </form>
    </div>
</div>
</body>
</html>